<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEMO1</title>
</head>
<body>
    <h1>Hello me from views and homepage.ejs</h1>
    <p><%=data %></p>
</body>
</html>